.wiiuii_layout {
            width: 100%;
            height: 100px;
            position: fixed;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: 1;
            background: transparent;
        }

        .editorial {
            display: block;
            width: 100%;
            height: 100px;
            margin: 0;
        }

        .parallax > use {
            animation: move-forever 10s linear infinite;
        }

        .parallax > use:nth-child(1) {
            animation-delay: -1s;
            animation-duration: 8s;
        }

        .parallax > use:nth-child(2) {
            animation-delay: -2s;
            animation-duration: 6s;
        }

        .parallax > use:nth-child(3) {
            animation-delay: -3s;
            animation-duration: 4s;
        }

        @keyframes move-forever {
            0% {
                transform: translate(-90px, 0%);
            }
            100% {
                transform: translate(85px, 0%);
            }
        }
